/* //rese */
/* HamburguerMenu css */
.navbar__icon{
  display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 1rem;
    right: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    z-index: 9999;
}
.navbar__line--1, .navbar__line--2, .navbar__line--3{
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 3px;
  transition: 0.6s;
}
/* ///transform in x */


.active {
  .navbar__line--1 {
    transform: rotate(-45deg) translate(-1.8px, 4px);
  }
  .navbar__line--2 {
    display: none;
  }
  .navbar__line--3 {
    transform: rotate(45deg) translate(-1.8px, -3.5px);
  }
}
.index{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 600;
}
.index__container{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 600;
}
.index__items{
  list-style: none;
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: bold;
  text-transform: capitalize;

 
}
.index__items__a{
  text-decoration: none;
    color: rgba(241, 23, 23, 0.409);

    &:hover {
      color: black;
    }
}
.hidden {
  display: none;
}
li {
  margin-bottom: 10px;
  color: blue;
}
@media all and (min-width: 768px) {
  .navbar{
display: none;
  }
}

/* Header css */

